@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bad+Script");
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-image: url("./img/background2.jpg");
  height: 100vh;
  background: contain;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.landing h1 {
  font-size: 30px;
  padding: 10px;
  padding-bottom: 20px;
  font-family: 'Quicksand', sans-serif;
  position: relative;
  top: 110px;
}

.landing h3 {
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  position: relative;
  top: 60px;
  color: #111;
  font-size: 2em;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
}

@-webkit-keyframes animate {
  0%,
  100% {
    color: white;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff, 0 0 400px #00b3ff;
  }
  20%,
  80% {
    color: #111;
    -webkit-filter: blur;
            filter: blur;
  }
}

@keyframes animate {
  0%,
  100% {
    color: white;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff, 0 0 400px #00b3ff;
  }
  20%,
  80% {
    color: #111;
    -webkit-filter: blur;
            filter: blur;
  }
}

.landing {
  background-color: black;
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  height: 32%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.neon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  font-size: 6em;
  color: white;
  text-shadow: 0 0 20px #ff005b;
}

.neon::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #ff005b;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

.neon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fe3a80;
  z-index: -2;
  opacity: 0.5;
  -webkit-filter: blur(40px);
          filter: blur(40px);
}

body {
  background-image: url("./img/background2.jpg");
  background: contain;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: purple;
  padding: 0;
  color: black;
  letter-spacing: 1px;
  font-size: 24px;
  text-transform: uppercase;
  font-style: none;
}

.menu {
  margin: 0;
  overflow: hidden;
}

.menu a {
  text-decoration: none;
  color: White;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-align: center;
  padding: 16px 24px;
}

.menu a:hover {
  background: #fa0a82;
  color: white;
}

.about {
  background-color: white;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.about h1 {
  color: black;
  -webkit-text-decoration: underline purple;
          text-decoration: underline purple;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 50px;
  font-size: 40px;
}

.about .wrapper {
  background-color: purple;
  margin-top: 50px;
}

.about .wrapper .text {
  margin: 30px;
  padding: 20px;
}

.about .wrapper .text p {
  color: white;
  margin: 0 auto;
  padding: 24px;
  text-align: justify;
  font-size: 20px;
}

.projects {
  background-color: white;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 50px;
}

.projects h1 {
  padding: 20px;
  -webkit-text-decoration: underline purple;
          text-decoration: underline purple;
  font-size: 40px;
}

.projects h3 {
  color: grey;
  padding: 30px;
}

.procont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 90%;
}

.procard {
  border: solid black 2px;
  height: 400px;
  width: 400px;
  margin: 40px;
  background-color: purple;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.procard .imgcont {
  width: 90%;
  height: 40%;
  background-color: white;
  margin-bottom: 25px;
  margin-top: 25px;
}

.procard .imgcont img {
  height: 100%;
  width: 100%;
}

.procard .txtcont {
  width: 90%;
  height: 40%;
  background-color: white;
}

.procard .txtcont .tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 20px;
  color: purple;
  padding: 5px;
}

.procard .prolinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 40px;
  text-align: center;
  margin: auto;
  text-decoration: none;
}

.procard .prolinks i {
  color: white;
  margin: 30px;
}

.procard .prolinks i:hover {
  color: #fa0a82;
}

.skills {
  background-color: purple;
  max-width: 100%;
  height: 400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: -2;
}

.skills i {
  color: white;
  font-size: 40px;
  padding: 20px;
}

.skills h1 {
  color: white;
  display: block;
  text-align: justify;
  padding: 20px;
  font-size: 40px;
}

.skills h3 {
  color: white;
  display: block;
  text-align: justify;
}

.skills .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.social {
  background-color: white;
  max-width: 100%;
  height: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.social i {
  font-style: none;
  color: purple;
  font-size: 100px;
  padding: 20px;
}

.social a {
  text-decoration: none;
}

.social a:hover i {
  color: #fa0a82;
}

.social h1 {
  color: purple;
  padding: 30px;
  font-size: 40px;
}

.social h3 {
  color: purple;
}

.social .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

footer {
  background-color: black;
  max-width: 100%;
  margin: 0 auto;
  font-size: 12px;
  color: white;
  padding: 25px;
  background: url("./img/background3.jpg");
  height: 75px;
}

footer a {
  color: purple;
  text-decoration: none;
}

footer a:hover {
  color: #fa0a82;
}

@media only screen and (min-width: 780px) {
  body {
    background-image: url("./img/background2.jpg");
    background: contain;
  }
  nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: purple;
    padding: 0;
    color: black;
    letter-spacing: 1px;
    font-size: 24px;
    text-transform: uppercase;
    font-style: none;
  }
  .menu {
    margin: 0;
    overflow: hidden;
  }
  .menu a {
    text-decoration: none;
    color: White;
    font-size: 18px;
    letter-spacing: 1px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding: 16px 24px;
  }
  .menu a:hover {
    background: #fa0a82;
    color: white;
  }
  .landing h1 {
    font-size: 80px;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    top: 80px;
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing h3 {
    position: relative;
    top: 0;
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 30px;
    color: #111;
    font-size: 5em;
    -webkit-animation: animate 2s linear infinite;
            animation: animate 2s linear infinite;
  }
  @-webkit-keyframes animate {
    0%,
    100% {
      color: white;
      -webkit-filter: blur(2px);
              filter: blur(2px);
      text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff, 0 0 400px #00b3ff;
    }
    20%,
    80% {
      color: #111;
      -webkit-filter: blur(0);
              filter: blur(0);
    }
  }
  @keyframes animate {
    0%,
    100% {
      color: white;
      -webkit-filter: blur(2px);
              filter: blur(2px);
      text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff, 0 0 200px #00b3ff, 0 0 300px #00b3ff, 0 0 400px #00b3ff;
    }
    20%,
    80% {
      color: #111;
      -webkit-filter: blur(0);
              filter: blur(0);
    }
  }
  .landing {
    background-color: black;
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    height: 32%;
    text-align: center;
  }
  .neon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: 0;
    padding: 0 20px;
    font-size: 6em;
    color: white;
    text-shadow: 0 0 20px #ff005b;
  }
  .neon::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: -1;
    color: #ff005b;
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  .neon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fe3a80;
    z-index: -2;
    opacity: 0.5;
    -webkit-filter: blur(40px);
            filter: blur(40px);
  }
  p {
    color: grey;
    margin: 0 auto;
    padding: 24px;
    font-size: 20px;
  }
  h1 {
    color: black;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-top: 50px;
    font-size: 40px;
    width: 100%;
  }
  .projects {
    background-color: white;
    max-width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-bottom: 50px;
  }
  .projects h1 {
    padding: 20px;
    -webkit-text-decoration: underline purple;
            text-decoration: underline purple;
    font-size: 40px;
  }
  .projects h3 {
    color: grey;
    padding: 30px;
  }
  .procont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 500px;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 90%;
  }
  .procard {
    border: solid black 2px;
    height: 600px;
    width: 400px;
    margin: 40px;
    background-color: purple;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .procard .imgcont {
    width: 90%;
    height: 40%;
    background-color: white;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .procard .imgcont img {
    height: 100%;
    width: 100%;
  }
  .procard .txtcont {
    width: 90%;
    height: 40%;
    background-color: white;
  }
  .procard .txtcont .tech {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 30px;
    color: purple;
    padding: 5px;
  }
  .procard .prolinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 40px;
    text-align: center;
    margin: auto;
    text-decoration: none;
  }
  .procard .prolinks i {
    color: white;
    margin: 30px;
  }
  .procard .prolinks i:hover {
    color: #fa0a82;
  }
  .skills {
    background-color: purple;
    max-width: 100%;
    height: 450px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: -2;
  }
  .skills i {
    color: white;
    font-size: 100px;
    padding: 20px;
  }
  .skills h1 {
    color: white;
    display: block;
    text-align: center;
    padding: 30px;
  }
  .skills h3 {
    color: white;
    display: block;
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */